
@media screen and  (max-width: 767px) {
  
  #logos  {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  }
  #productos, #productos2 {
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  }
  
}
@media screen and (min-width: 1024px) {
  
  #logos {
    display: flex;
    
    
    justify-content: center; 
    align-items: center;

    
  }
  #productos ,#productos2 {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    

  }
  
  
}

#social{
  text-align: center; 
}


 #logostodos{
  width: 150px;
}


#div1{
  width: 100%;
  margin-top: 100px;  
}


#header {
  background-color:  rgb(224, 232, 247) ;
  width: 100%;
  font-size: 16px;
  height: 15%; 
  position: fixed;
  z-index: 1;
  top: 0;
  
}


.collapse.navbar-collapse.justify-content-end {
  background-color: rgb(213,25,32,255); 
  opacity: 0.95;
}
.navbar-nav .nav-link {
  color: #ffffff; 
}
body{
    background-color: rgb(255, 255, 255)  ;}

   
    
#Menu {
  height:40px;
  width:40px;  
}
#Wpp{
  position: fixed;
  width: 100px;
  bottom: 0;
  right: 0;
}

#Logo {
  top: 8px;
  
  margin-top: 5px;
  width:90px;
  height:40px;
  position: relative;
  left: 0;
}



#NuestrosProductos,#NuestrosProductos2 {
  font-family: 'HelveticaNeueLTStd-Lt', sans-serif;
  color: black;
  text-align: center;
}

#Mail1, #Mail2, #Nombre2,#Nombre1 {
  font-family: 'HelveticaNeueLTStd-Lt', sans-serif;
  font-size: 15px;
}

#referencias{
  font-family: 'HelveticaNeueLTStd-Lt', sans-serif;
  font-size: 15px;
  text-align: center;
}


footer{
  padding: 15px;
  background-color: rgb(213,25,32,255);
  color: white; 

}

