body{
    background-color:#4e0606 ;}

header {
      position: fixed;
      background-color: whitesmoke;
      height: 80px; 
      width:768px;
      z-index: 1;
    }
    


#Logo {
  /*position: fixed;*/
  top: 8px;
  left: 16px;
  font-size: 18px;
  margin-top: 10px;
  width:90px;
  height:40px;
}

#Foto1, #Foto2 { 
  width: 768px;
  height: auto;
  opacity: 0.8;
}
#Menu {
  position: relative;
  font-family: "Verdana";
  color: white;
  text-align: right;
}
#Titulo1,#NuestrosProductos {
  font-family: "Verdana";
  color: white;
  text-align: center;
}
#Punteo,#Mail1,#Nombre1,#Carrito {
  font-family: "Verdana";
  color: white;
  font-size: 15px;
}
#Mail2,#Nombre2 {
  font-family: "Verdana";
  font-size: 15px;
}
p {
  font-family: "Verdana";
  font-size: 20px;
  color: white;
}

#Tabla{
  border: 2px solid white;
  color:rgb(31, 10, 10);
  border-collapse: collapse;
  width: 100%;
  text-align: left;
  font-family: "Verdana";
  font-size: 12px;
  background-color: #f7e2e2;
  
}

