
@media screen and  (max-width: 767px) {
  #div1 {
    width: 100%;
    margin-top: 100px; 
  }
}
@media screen and (min-width: 1024px) {
  #div1 {
    width: 100%;
    margin-top: 100px; 
   
  }
}

#div{
  width: 100%;
  margin-top: 100; 
 
}
body{
    background-color: rgb(238, 221, 245) ;}

header {
      position: fixed;
      background-color: rgb(221, 231, 248);
      height: 15%; 
      width:100%;
      z-index: 1;
      top: 0;
    }
    
#Menu {
  height:40px;
  width:40px;
  
}
#Wpp{
  position: fixed;
  width: 100px;
  bottom: 0;
  right: 0;
}

#Logo {
  /*position: fixed;*/
  top: 8px;
  left: 16px;
  font-size: 18px;
  margin-top: 10px;
  width:90px;
  height:40px;
}
#FotoPortada{
  width: 70%;
  opacity: 0.9;
  background-color: whitesmoke;
}
#FotoZapas1, #FotoZapas2, #FotoZapas3{
  width: 180px;
}

#Foto1,#Foto2 { 
  height: 30vh;
  width: 100vh;
}
#Menu {
  position: relative;
 
  color: black;
  text-align: right;
}
#Titulo1,#NuestrosProductos {
  font-family: 'HelveticaNeueLTStd-Lt', sans-serif;;
  color: black;
  text-align: center;
}
#Punteo,#Mail1,#Nombre1,#Carrito {
  font-family: 'HelveticaNeueLTStd-Lt', sans-serif;
  color: black;
  font-size: 15px;
}
#Mail2,#Nombre2 {
  font-family: 'HelveticaNeueLTStd-Lt', sans-serif;;
  font-size: 15px;
}
p {
  font-family: 'HelveticaNeueLTStd-Lt', sans-serif;;
  font-size: 20px;
  color: black;
}

#Tabla{
  border: 2px solid rgb(0, 0, 0);
  color:rgb(31, 10, 10);
  border-collapse: collapse;
  width: 100%;
  text-align: left;
  font-family: 'HelveticaNeueLTStd-Lt', sans-serif;;
  font-size: 12px;
  background-color: #8aca9f;
  
}

